* {
  box-sizing: border-box;
  margin: 0;
}
html {
  height: 100%;
  background-color: black;
}
section {
  background-color: white;
}
body {
  font-family: "Raleway", sans-serif;
  height: 100%;
  margin: 0;
  background-attachment: fixed;
  background-repeat: none;
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #1e5799 0%,
    #2989d8 30%,
    #000000 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #1e5799 0%,
    #2989d8 30%,
    #000000 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #1e5799 0%,
    #2989d8 30%,
    #000000 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
article {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
main {
  flex-grow: 1;
}
header,
main,
footer {
  flex-shrink: 0;
}
.contact {
  padding-top: 10px;
}
.contact h2,
.resume h2,
.contact p,
.resume p {
  color: white;
  padding-top: 0px;
}
.main-content {
  background-color: black;
  height: auto;
}
.nav-menu {
  height: 50px;
  background-color: black;
}
#canvasOne {
  z-index: 0;
}
.intro-container {
  display: flex;
  height: 60vh;
}
.logo {
  width: 15%;
  height: 15%;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  height: 50px;
}
.nav-item {
  color: white;
  padding: 10px 30px;
  font-size: 1.6em;
}
#cta {
  background-color: rgba(53, 170, 53, 0.5);
}
#cta:hover {
  background-color: rgba(53, 170, 53, 1);
  -webkit-transition: 0.5s ease;
}
.nav-item:hover {
  background-color: #1c2572;
  -webkit-transition: 0.5s ease;
}
li.drop {
  display: inline-block;
}
.drop-content {
  align-content: flex-start;
  margin-top: 20px;
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.drop-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.drop:hover .drop-content {
  display: block;
}
.introduction {
  background-color: black;
  float: right;
  color: white;
  min-width: 23%;
  text-align: center;
  padding-right: 120px;
  padding-top: 100px;
}
.introduction h2 {
  font-size: 2.4em;
}
.introduction h3 {
  font-size: 1.5em;
}
.social {
  margin-top: 10px;
}
.social-list {
  clear: both;
  justify-content: center;
  list-style: none;
  display: flex;
  flex-direction: row;
  /* margin-top: 50px; */
  margin-bottom: 150px;
}
.social-btn {
  width: 200px;
  height: 50px;
  font-size: 1.8em;
  border: 0.5px solid black;
  box-shadow: 0px 0px 10px #fff;
  margin: 0 15px;
}
#github {
  background-color: black;
  border: 1px solid black;
}
i.fab {
  padding-right: 16px;
}
#footer {
  width: 100%;
  /* position: absolute;
  bottom: 0; */
  text-align: center;
}
.copyright {
  color: white;
  font-size: 1em;
}

/* resume formatting */
.contact,
.resume {
  text-align: center;
}
.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resume-container {
  margin-top: 10px;
  border-radius: 3px;
  align-self: center;
  height: auto;
  width: 85vw;
  background-color: white;
}
.title {
  margin-bottom: 20px;
  text-align: center;
}
#name {
  font-family: "Montserrat", sans-serif;
  text-align: left;
  font-size: 3.5em;
  font-weight: 700;
  padding: 20px 20px 0 20px;
  background-color: lightgray;
}
#name .my-title {
  padding-left: 30px;
  padding-top: 5px;
  font-size: 0.5em;
  text-align: left;
  padding-top: 0;
  color: black;
}
hr {
  width: 85%;
  margin: 0 auto;
}
#experience,
#education {
  padding: 20px;
  text-align: left;
}
#experience h2,
h3 {
  font-family: "Raleway", sans-serif;
  color: black;
}
#experience h2,
#education h2 {
  font-weight: 700;
  margin-bottom: 0;
}
.company,
.school {
  font-style: italic;
  padding-left: 17px;
  font-weight: 400;
  font-size: 1em;
}
.title {
  text-align: left;
  font-weight: 700;
  font-size: 1em;
  text-align: center;
}
.history ul {
  padding-bottom: 25px;
}
#profile {
  padding: 20px;
  background-color: lightgray;
  margin: 0 5px;
  border-radius: 5px;
  text-align: left;
}

#profile h2 {
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin-bottom: 0;
  margin-top: 10px;
}
#profile h3 {
  margin-bottom: 0;
}
#col-2 {
  width: 400px;
  overflow: hidden;
  padding-right: 12px;
  padding-left: 20px;
}
#col-2 li {
  line-height: 1.5em;
  float: left;
  width: 50%;
}
#profile hr,
#education hr {
  margin: 10px auto;
}
.program {
  font-size: 0.8em;
}
#education li {
  margin-left: 40px;
}

@media only screen and (min-width: 700px) {
  #name {
    padding-left: 30px;
  }
  .title {
    margin-bottom: 20px;
    padding-top: 5px;
  }
  .company,
  .school {
    padding-left: 40px;
  }
  #experience,
  #education {
    padding: 0px 35px;
  }
  #education {
    padding-bottom: 40px;
  }
  #experience h2,
  #education h2 {
    font-size: 2em;
    padding-bottom: 5px;
    margin-bottom: 0;
  }
  #experience h2 {
    margin-top: 10px;
  }
  #education h2 {
    margin-top: 0;
  }
  #page-wrapper {
    display: flex;
  }
  #profile {
    margin-top: 10px;
    width: 88%;
    box-shadow: 4px 7px 10px grey;
  }
}
